
 
   
    <div class="row">
	  <div class="small-6 small-centered columns">
	    
	    <div class="service">
	      <div class="service-icon-box">
	        <img src="http://vignette3.wikia.nocookie.net/battlefordreamislandfanfiction/images/4/4c/Pokeball.png/revision/latest?cb=20130306053628" alt="" class="service-icon">
	      </div>
	      <h4 class="service-heading">Fakemon Adventure</h4>
	      <p class="service-description">
	      Manage your team, upgrade your mobs and have the epicness fight againts your opponents. Alone or together, dare the best players of the world and become the chosen one.
	      <br><br>
	      <a href="#/signup" class="button alert">LET'S START THE ADVENTURE</a>
	      </p>
	    </div>
	    
	  </div>
	</div>

