
<div ng-controller="ListAttacksCtrl"></div>  


 <div class="row text-center test">
        <h2> BACK OFFICE - ATTACKS </h2>
    </div>
    
    <hr>


  <div class="row text-center">
    <a href="#/manage_attacks/create" class="button success">
    CREATE A NEW ATTACK
    </a>
  </div>
  
  <table class="flat-table" >
              <tbody>
                <tr>
                  <th width="200">Name</th>
                  <th width="200">Description</th>
                  <th width="200">Precision (%)</th>
                  <th width="200">Power</th>
                  <th width="200">Type</th>
                  <th width="50">Show</th>
                  <th width="50">Edit</th>
                  <th width="50">Delete</th>
                </tr>
                <tr class="content" ng-repeat="attack in attacks">
                  <td>{{attack.name}}</td>
                  <td>{{attack.description}}</td>
                  <td>{{attack.precision*100}}</td>
                  <td>{{attack.power}}</td>
                  <td>{{attack.type}}</td>
                    <td><a href="#/manage_attacks/show/{{attack._id}}"><span class="fi-eye"></span></a></td>
                  <td><a href="#/manage_attacks/edit/{{attack._id}}"><span class="fi-pencil"></span></a></td>
                     <td><a href="#/manage_attacks/delete/{{attack._id}}"><span class="fi-x"></span></a></td>
                </tr>
                
              </tbody>
            </table> 
