
<div ng-controller="ShowAttacksCtrl"></div>


 <div class="row text-center test">
        <h2> BACK OFFICE - ATTACKS </h2>
    </div>
    
    <hr>

  

  <br>
    <form class="columns large-5 large-centered" ng-model="attack">
    <fieldset>
      <legend>ATTACK NR° {{attack._id}}</legend>
             
        <div class="row collapse">
            <div class="small-2  columns">
              <span class="prefix">Name</span>
            </div>
            <div class="small-10  columns">
              <input type="text" disabled ng-model="attack.name">
            </div>
        </div>

        <div class="row collapse">
            <div class="small-2  columns">
              <span class="prefix">Description</span>
            </div>
            <div class="small-10  columns">
              <input type="text" disabled ng-model="attack.description">
            </div>
        </div>


        <div class="row collapse">
            <div class="small-2  columns">
             <span class="prefix">Type</span>
            </div>
            <div class="small-10  columns">
              <select disabled ng-model="attack.type">
            
                <option value="EAU">EAU</option>
                <option value="AIR">AIR</option>
                <option value="SOL">SOL</option>
                <option value="FEU">FEU</option>
                <option value="INSECTE">INSECTE</option>
              </select>
              
            </div>
        </div>

         <div class="row collapse">
            <div class="small-2  columns">
              <span class="prefix">Power</span>
            </div>
            <div class="small-10  columns">
              <input type="text" disabled ng-model="attack.power">
            </div>
        </div>




        <div class="row collapse">
            <div class="small-2  columns">
             <span class="prefix">Precision [0;1]</span>
            </div>
            <div class="small-10  columns">
              <input type="text" disabled ng-model="attack.precision">
            </div>
        </div>


        <br>

      
    <a href="#/manage_attacks/edit/{{attack._id}}" class="button success left" ng-click="sendForm()"> Edit </button>

    <a href="#/manage_attacks/delete/{{attack._id}}" class="button secondary right"> Delete </a>
      
    </fieldset>
  </form> 


  

  <br>
