
<div ng-controller="CreateUsersCtrl"></div>


 <div class="row text-center test">
        <h2> BACK OFFICE - USERS </h2>
    </div>
    
    <hr>
  
  

  <br>
    <form class="columns large-5 large-centered" ng-model="user">
    <fieldset>
      <legend>USER CREATION</legend>
             
        <div class="row collapse">
            <div class="small-2  columns">
              <span class="prefix">Name</span>
            </div>
            <div class="small-10  columns">
              <input type="text" ng-model="user.pseudo">
            </div>
        </div>

        <div class="row collapse">
            <div class="small-2  columns">
              <span class="prefix">Password</span>
            </div>
            <div class="small-10  columns">
              <input type="text" ng-model="user.password">
            </div>
        </div>


        <div class="row collapse">
            <div class="small-2  columns">
             <span class="prefix">Type</span>
            </div>
            <div class="small-10  columns">
              <select ng-model="user.role">
            
                <option value="ROLE_USER">ROLE_USER</option>
                <option value="ROLE_ADMIN">ROLE_ADMIN</option>

              </select>
              
            </div>
        </div>

         <div class="row collapse">
            <div class="small-2  columns">
              <span class="prefix">gold</span>
            </div>
            <div class="small-10  columns">
              <input type="text" ng-model="user.gold">
            </div>
        </div>


        <br>

      
    <button class="button success left" ng-click="sendForm()"> Create </button>

    <a href="#/manage_users/list" class="button secondary right"> Cancel </a>
      
    </fieldset>
  </form> 

  <br>
